@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section section-lg">
    <div class="container">
        <h1>Account Settings</h1>
        <div class="row mb-4">
            <div class="col-12">
                <partial name="_ManageNav" />
            </div>
        </div>
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
