
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="section section-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>@ViewData["Title"]</h1>

                    <p>Use this page for About us.</p>
                </div>
            </div>
        </div>
    </div>

