@using Microsoft.AspNetCore.Identity
@using Cinema.Domain.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema.Net</title>
    <link rel='icon' href='~/img/Film-icon.png' type='image/x-icon' sizes="16x16" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    @RenderSection("css", false)
    <link rel="stylesheet" href="~/lib/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Work+Sans:400,700,900&display=swap" rel="stylesheet">
</head>
<body class="naked">
    
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
