@page
@model Cinema.Web.Pages.NowshowingModel
@{
    ViewData["Title"] = "Nowshowing";
}

<h1>Now showing</h1>


<section class="showing-now">
    <div class="container">
        @foreach (var item in Model.Screenings)
        {
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="movie-box">
                    <img class="img-responsive" src="~/uploads/@item.Movie.Image" />

                </div>
            </div>
            <div class="col-md-8">
                <h3><strong>@item.Movie.Title</strong></h3>
                <div>@item.Movie.Actors</div>
                <hr />
                <p>Screening Time: <span>@item.DateAndTime</span></p>
                <p><span>@item.Hall.Name</span></p>
            </div>
        </div>
        }
 
    </div>
</section>